<ngx-spinner bdColor="rgba(250,250,250,1)" size="medium" color="#131313" [fullScreen]="true"
type="ball-scale-multiple"><span style="font-weight: 700; color: #A90060;  font-size: 20px;">Analizando</span></ngx-spinner>

<div style="position:relative;  background: linear-gradient(to bottom,#A90060 30%, black 70%);">
<div style="text-align:center">
  <p style="font-weight: 700; color: white; padding: 40px 0px; font-size: 25px;">
    TOMAR FOTO
  </p>

  <div style="position: relative;">
    <img *ngIf="maquilladaimage" [src]="maquilladaimage" alt="">
    <webcam [height]="640" [width]="540" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam && !maquilladaimage"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (initError)="handleInitError($event)"
    ></webcam>
    
    <div *ngIf="maquilladaimage" style="position: absolute; bottom: 10px; display: flex; flex-direction: row; gap: 18px; align-items: center; justify-content: right; right: 31%;">
      <button (click)="changeColor('purple')" style="width: 43px; height: 43px; border-radius: 50%;
        border: 1px solid white; box-shadow: 0 4px 8px rgba(255, 255, 255, 1);
        background-color: #701F55; cursor: pointer;">
      </button>
      <button (click)="changeColor('pink')" style="width: 55px; box-shadow: 0 4px 8px rgb(255, 255, 255); 
height: 55px; border-radius: 50%;background-color: #A83C4A; cursor: pointer; border: 1px solid white;">
      </button>
      <button (click)="changeColor('white')" style="width: 33px; height: 33px; border-radius: 50%;
        border: 1px solid white;  box-shadow: 0 4px 8px rgba(255, 255, 255,1); 
        background-color: #EFEAE2; cursor: pointer;">
      </button>
      </div>
  </div>
  
</div>
<div *ngIf="maquilladaimage" style="background-color: white;align-items: center; padding-top: 23px; height: 200px; border-radius: 33px 33px 0px 0px;">
  <div *ngFor="let recommendation of responseService.recommendations" style="display: flex; flex-direction: row; gap: 19px; padding-left: 25px;">
  <img style="border-radius: 99px; height: 82px; width: 82px; border: 1px solid #131313;" [src]="'data:image/jpeg;base64,' + recommendation.key" alt="">
  <div style="display: flex; flex-direction: column; gap: 5px;">
    <p>{{recommendation.name}}</p>
    <p style="font-weight: 400; color: #7D4DBE; font-size: 16px;">{{'$'+recommendation.price + '.000,00'}}</p>
    <p>{{recommendation.reason}}"</p>
    <br style="padding: 8px 0;">
  </div>
</div>
</div>
<div *ngIf="!maquilladaimage" style="display: flex;padding: 18px 0px; flex-direction: row; gap: 71px; align-items: center; justify-content: center;">
  <div style="display: flex; flex-direction: column; position: relative; padding-bottom: 18px;">
    <img src="../assets/Back.svg" alt="">
    <span style="bottom: 11px; position: absolute;font-weight: 400; color: white; font-size: 12px;">VOLVER</span>
  </div>
  <button (click)="triggerSnapshot()"style="width: 80px; height: 80px; border-radius: 50%;
  border: none;background-color: white; cursor: pointer; box-shadow: 0 0 10.3px rgba(255, 255, 255, 1);">

  </button>
  <img src="../assets/Product.svg" alt="">
</div>
</div>